:root { 
--blue_gray_200:#b5b5c3; 
--black_900_33:#00000033; 
--blue_gray_100:#d9d9d9; 
--black_900:#000000; 
--teal_900:#004c23; 
--pink_A700_0c:#bf156c0c; 
--blue_gray_900:#2d2d2d; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--teal_900_7f:#004c237f; 
}